body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.center-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn{
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;
}

.btn-primary{
    background-color: cyan;
}

.padding-bottom-1rem{
    padding-bottom: 1rem;
}